<h1>Your Merchant Account</h1>

<h2>Your Products</h2>
<table>
  <thead>
    <tr>
      <th width="50">Product Category</th>
      <th width="100">Product Name</th>
      <th width="100">Date Added</th>
      <th width="100">Status</th>
      <th width="100">Edit Product</th>
    </tr>
  </thead>
  <tbody>
    <% @login_user.products.each do |product| %>
    <tr>
      <td> <%= print_categories(product) %>
      </td>
      <td><%= product.name %></td>
      <td><%= (product.created_at).strftime('%b %m, %Y') %></td>
      <td><%= product.stock == "In Stock" ? "In Stock" : "Out of Stock" %></td>
      <td><%= link_to "Edit Product", edit_product_path(product.id), alt: "link to edit product page", class: "button" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
