<h3><%= "#{@user.name}'s Order Fulfillment Page" %></h3>

<%statuses = ["paid", "incomplete", "complete"]%>


<section>
  <h3>Revenue Summary:</h3>
  <ul class="revenue">
    <% statuses.each do |status|%>
      <li><h4>Total Revenue for <%= "#{status}" %> orders:  <%="$#{sprintf('%.2f', @user.total_revenue_by_status(status))}"%></h4></li>
    <%end %>
    <h3><strong>Total Revenue:</strong> <%="$#{sprintf('%.2f', @user.total_revenue)}"%></h3>
  </ul>
</section>



<h3>My Orders</h3>


<section class="fulfillment">


<%@user.user_orders.each do |order|%>
<h3>ID: <%= link_to "#{order.id}", user_order_path(@user.id, order.id), class: "button"%></h3>

          Date Purchased: <%= order.created_at.strftime(" %B/%d/%Y") %>

          Status: <%= order.status %>

</section>
      <%order.order_items.each do |item|%>
      <table>


        <% if @user.order_items.include?(item) %>
      <tr>
        <th>
          Order Item ID
        </th>
        <th>
          Order Item Product
        </th>
        <th>
          Order Item Price
        </th>
        <th>
          Order Item Quantity
        </th>
        <th>
          Subtotal
        </th>
        <th>
          Item Shipping Status
        </th>
      </tr>
      <tr>
        <td>
          <%= item.id%>
        </td>
        <td>
          <%= link_to "#{item.product.name}", product_path(item.product.id)%>
        </td>
        <td>
          <%= "$#{sprintf('%.2f', item.product.price)}" %>
        </td>
        <td>
          <%= item.quantity%>
        </td>
        <td>
          <%= "$#{sprintf('%.2f', (item.quantity * item.product.price))}" %>
        </td>
        <td>
          <% if item.shipped == "not shipped" %>
          <%= link_to("Mark As Shipped", item_shipped_path(item.id), method: :patch, class: "button")%>
          <% else %>
          <%= "Shipped on: #{Date.current}" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>

</section>
