<h1>This page is a order summary  page after it has been placed  </h1>
<%= form_for @order do |f| %>

  Order id: <%= @order.id %>

  <%= f.label :status %>
  <%= f.text_field :status %>

  <%= f.label :total %>
  <%= f.text_field :total %>

  <%= f.submit %>

<% end %>

 Thank you for shopping at Glitzy !

<button>
  <%= link_to "Home", root_path %>
</button>

<button>
  <%= link_to "View all orders", orders_path %> if merchant !!
</button>
