<%= form_for @order , :url => url_for(:controller => 'orders', :action => 'place_order') do |f| %>

  <%= f.label :name %>
  <%= f.text_field :customer_name, :placeholder => "Full name as it appears on card" %>

  <%= f.label :email %>
  <%= f.text_field :email, :placeholder => "Email address" %>

  <%= f.label :mailing_address %>
  <%= f.text_field :mailing_address, :placeholder => "Shipping address" %>

  <%= f.label :zipcode %>
  <%= f.text_field :zipcode, :placeholder => "ZIP Code" %>

  <%= f.label :cc_number %>
  <%= f.text_field :cc_number, :placeholder => "Credit card number" %>

  <%= f.label :cc_expiration_date %>
  <%= f.text_field :cc_expiration_date, :placeholder => "****"%>

  <%= f.label :cc_cvv %>
  <%= f.text_field :cc_cvv, :placeholder => "3 or 4 digit number" %>

  <%= f.submit "Place Order", class: "button"%>

<% end %>

<button>
  <%= link_to "Home", root_path, class: "button"%>
</button>

<button>
  <%= link_to "Cancel", products_path, class: "button"%>
</button>
