<h1>Order Confirmation </h1>

<ul>
  <% @order.order_items.each do |item| %>
  <li>
    Product Name: <%= item.product.name %>
  </li>
  <li>
    Product Price: <%= item.product.price %>
  </li>
  <li>
    Product Quanity: <%= item.quantity %>
  </li>
  <% end %>
</ul>


<h4>Total Cost: <%= @order.total_cost %></h4>

<h1>Thank you for shopping at Glitzy !</h1>

<button>
  <%= link_to "Home", root_path %>
</button>

<button>
  <%= link_to "View all orders", orders_path %> if merchant !!
</button>
