<h1> Your Cart </h1>

<ul>
  <% @order.order_items.each do |item| %>
  <li>
    Product Name: <%= item.product.name %>
  </li>
  <li>
    Product Price: <%= item.product.price %>
  </li>
  <li>
    Product Quanity: <%= item.quantity %> |
    <% if  @order.status == "incomplete"%>
    <%= link_to("Edit Quantity", edit_order_item_path(item.id)) %> |
    <%= link_to("Remove Product from Cart", order_item_path(item.id), method: :delete, data: {confirm: "Are you sure you would like to remove this item from your cart?"}) %>
    <% end %>
  </li>

  <% end %>
</ul>

<%= @order.order_items.count > 0 ? link_to("Place your Order", edit_order_path(@order.id), class: "button") : "Add items to cart to place order" %>
