<h2> Shop All Items</h2>

<section class = "all-products">
  <table>
    <thead>
      <tr>
        <th>
          Product name
        </th>
        <th>
          Category
        </th>
        <th>
          Description
        </th>
        <th>
          Price
        </th>
        <th>
          Available Quantity
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @products.each do |product| %>
        <td>
          <%= link_to "#{product.name}", product_path(product.id)%>
        </td>
        <td>
          <%= print_categories(product) %>
        </td>
        <td>
          <%= product.description %>
        </td>
        <td>
          <%= product.price %>
        </td>
        <td>
          <%= product.quantity %>
        </td>
      </tr>
      <% end %>
    </tbody>

  </table>
</section>
