<% if @product %>
  <h2><%= @product.name %></h2>

  <ul>
    <li>
      Category: <% @product.categories.each do |category| %>
         <%= category.name.capitalize %>
         <% end %>
    </li>
    <li>
      Description: <%=@product.description%>
    </li>
    <li>
      Price: $<%=@product.price%>
    </li>
    <li>
      Available Quantity: <%=@product.quantity%>
    </li>
  </ul>

  <section>
    <h3>Reviews:</h3>
    <% @product.reviews.each do |review| %>
      <ul>
        <li>
          Rating: <%= review.rating %>
        </li>
        <li>
          <%= review.text_review %>
        </li>
      </ul>
    <% end %>
    <h3>Average Rating: <%= @product.avg_rating %> </h3>
    <%= link_to("Add a Review", new_product_review_path(@product.id), :class => "button") %>
    <%= link_to("Add to Order", new_product_order_item_path(@product.id), :class => "button") %>
  </section>
<% else %>
  <h2>404 placeholder</h2>
<% end%>
