<% if @product %>

  <section class = "show-product-view">
    <article class="medium-image"><%= image_tag @product.photo(:large) %></article>
    <section class ="product-info">
      <h2><%= @product.name %></h2>
      <section>
        <ul>
          <li>
            Category: <% @product.categories.each do |category| %>
               <%= category.name.capitalize %>
               <% end %>
          </li>
          <li>
            Description: <%=@product.description%>
          </li>
          <li>
            Price: $<%=sprintf('%.2f', @product.price)%>
          </li>
          <li>
            Available Quantity: <%=@product.quantity%>
          </li>
        </ul>
      </section>
      <%= link_to("Add to Order", new_product_order_item_path(@product.id), :class => "button") %>
    </section>
  </section>

  <section class = "show-product-review">
    <h3>Reviews:</h3>
    <p><strong>Average Rating: </strong><%= "#{@product.avg_rating} stars" %> </p>
    <% @product.reviews.each do |review| %>
      <ul>
        <li>
          Rating: <%= review.rating %>
        </li>
        <li>
          <%= review.text_review %>
        </li>
      </ul>
    <% end %>

    <%= link_to("Add a Review", new_product_review_path(@product.id), :class => "button") %>
  </section>
<% else %>
  <h2>404 placeholder</h2>
<% end%>
