<h2><%= @product.name %></h2>

<ul>
  <li>
    Category: <%= @product.category %>
  </li>
  <li>
    Description: <%=@product.description%>
  </li>
  <li>
    Price: $<%=@product.price%>
  </li>
  <li>
    Available Quantity: <%=@product.quantity%>
  </li>
</ul>

<section>
  <h3>Reviews</h3>
  <%= link_to("Review Product", new_product_review_path(@product.id), :class => "button") %>
</section>
