<section>
  <%= form_for @review do |f| %>
    <%= f.label :rating %>
    <%= f.integer :rating%>

    <%= f.label :text_review %>
    <%= f.text_area :text_review %>

    <%= f.submit class: "button" %>
  <% end %>
</section>
